
/* Game Board */

$square-size: 150px;
$square-gutter: 10px;

#GameBoard {
  display: flex;
  justify-content: center;
  margin-top: 1em;
	padding: 3px;
  min-height: ($square-size + ($square-gutter * 2)) * 3;

  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .square {
      border: 2px solid #000;
      display: block;
      text-align: center;
      width: 148px;
      height: 148px;
      margin: 20px;
      background-color: transparent;
    }
  }
}

.square img {
  display: none;
}
.square.x img.x {
  display: block;
}
.square.o img.o {
  display: block;
}


.control-panel {
  margin: 10px auto;
  text-align: center;
}

.info {
  float: left;
  width: 6em;
  margin-left: 10%;
  margin-top: 20%;
}

#player-info {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.x-turn #player-turn {
  color: #f00;
}
.o-turn #player-name {
  color: #00f;
}
