@import '~bootstrap/scss/bootstrap';

@import 'colors';
//@import 'form';
@import 'layout';
@import 'game';
@import 'theme';


/* Hide all comments for production */
.development {
  display: none;
  font-family: monospace;
}
.todo {
  background-color: #000;
  color: #0ff;
  font-family: monospace;
}

.button-set {
  border: groove thin #999;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.theme-button {
  border: thin outset;
  padding: 1vw 1vw 2vw 1vw;
  margin: 1vw 2vw;
  & .active {
    border: thin inset;
  }
  img {
   width: 85%;
   height: 85%;
 }
}
.theme-text {
  font-weight: normal;
  & .active {
    font-weight: bold;
  }
}

.info {

}

#playerStats .list-group li {
  background-color: #aaa;
}
#playerStats.display-info .list-group li {
  background-color: #fff;
  > span {
    font-weight: bold;
  }
}

#userMessage {


}
