@import '~bootstrap/scss/bootstrap';

@import 'colors';
//@import 'form';
@import 'layout';
@import 'game';
@import 'theme';


/* Hide all comments for production */
.development {
  display: none;
  font-family: monospace;
}
.todo {
  background-color: #000;
  color: #0ff;
  font-family: monospace;
}

.button-set {
  border: groove thin #999;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}


.info {

}

#userMessage {
  max-width: 70%;

}
