/* Layout */

.grid {
  margin: 5px auto;
  background: none;

}

.panel {
  background-repeat: repeat;
  margin: 10px auto;
  border: inset thin #999;
  border-radius: 5px;
  padding: 5px;
  height: 100%;
}

header {
  text-align: center;
  margin: 20px auto;

  .title-image {
    height: 15vh;
  }
}

main {
  margin: 0 10%;
}


footer {
  text-align: center;
  margin: 0 auto;
  position: absolute;
  bottom: 1%;
}
