// Theme Styles


body.primary-theme {
  .panel {
    background-image: url('public/images/primary/bkg.png');
  }
  .x-text {
    color: $primaryX;
  }
  .x-bg {
    background-color: $primaryX;
    color: #fff;
  }
  .o-text {
    color: $primaryO;
  }
  .o-bg {
    background-color: $primaryO;
    color: #fff;
  }
  .readySquare {
    background-color: #fff;
  }
  .disableSquare {
    background-color: #000;
  }
  .theme-button1 {
    border: thin outset;
    background-color: yellow;
    color: #000;
  }
  .theme-button2 {
    border: thin outset;
    background-color: blue;
    color: #fff;
  }
}


body.minimal-theme {
  .panel {
    background-color: #666;
  }
  .x-text {
    color: $minimalX;
  }
  .x-bg {
    background-color: $minimalX;
    color: #000;
  }
  .o-text {
    color: $minimalO;
  }
  .o-bg {
    background-color: $minimalO;
    color: #fff;
  }
  .readySquare {
    background-color: #bbb;
  }
  .disableSquare {
    background-color: #333;
  }
  .theme-button1 {
    background-color: $minimalO;
    color: #fff;
  }
  .theme-button2 {
    background-color: $minimalX;
    color: #000;
  }

}

body.goth-theme {
  background-image: url('public/images/goth/body-bkg.png');
  background-repeat: repeat;
  .panel {
    background-image: url('public/images/goth/bkg.png');
  }
  .x-text {
    color: $gothX; // black
  }
  .x-bg {
    background-color: $gothX;
    color: #fff;
  }
  .o-text {
    color: $gothO; // white
  }
  .o-bg {
    background-color: $gothO;
    color: #000;
  }
  .readySquare {
    background-color: #333;
  }
  .disableSquare {
    background-color: #bbb;
  }
  .game-status {
    background-color: #fff;
  }
  .theme-button1 {
    background-color: $gothO;
    color: #000;
  }
  .theme-button2 {
    background-color: $gothX;
    color: #fff;
  }

}


body.circuit-theme {
  // background-image: url('public/images/circuit/body-bkg.png');
  // background-repeat: repeat;

  .panel {
    background-image: url('public/images/circuit/bkg.png');
  }

  .x-text {
    color: $circuitX; // yellow
  }
  .x-bg {
    background-color: $circuitX;
    color: #fff;
  }
  .o-text {
    color: $circuitO; // green
  }
  .o-bg {
    background-color: $circuitO;
    color: #000;
  }
  .readySquare {
    background-color: #fff;
  }
  .disableSquare {
    background-color: #000;
  }
  .game-status {
    background-color: #fff;
  }
  .theme-button1 {
    background-color: $circuitO;
    color: #fff;
  }
  .theme-button2 {
    background-color: $circuitX;
    color: #000;
  }
}

body.steampunk-theme {
  background-image: url('public/images/steampunk/body-bkg.png');
  background-repeat: repeat;

  .panel {
    background-image: url('public/images/steampunk/bkg.png');
  }

  .x-text {
    color: $steampunkX; // gold
  }
  .x-bg {
    background-color: $steampunkX;
    color: #fff;
  }
  .o-text {
    color: $steampunkO; // silver
  }
  .o-bg {
    background-color: $steampunkO;
    color: #000;
  }
  .readySquare {
    background-color: #fff;
  }
  .disableSquare {
    background-color: #000;
  }
  .game-status {
    background-color: #fff;
  }
  .theme-button1 {
    background-color: $steampunkO;
    color: #fff;
  }
  .theme-button2 {
    background-color: $steampunkX;
    color: #fff;
  }
}
